*{
    margin: 0%;
    padding: 0%;
}
.main{
    min-height: 100vh;
    max-height: max-content;
    width: 100vw;
}
.nav-bar{
    text-align: center;
    /* padding-top: 1%; */
    height: 10vh;
    width: 100%;
    background-color: #D91182;
    color: white;
}
.content{
    width:100%;
    min-height: 90vh;
    max-height: max-content;
    background-color: #fdd4eb;
    display: flex;
    justify-content: space-around;
}
.note-container{
    margin: 1%;
    width: 70%;
    min-height: 20vh;
    max-height: max-content;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center; 
}
.notes{
    width: 90%;
    height: 80%;
    border: transparent;
}